/docs/source/notebooks/tutorials/whole_sample.csv
/docs/source/notebooks/advanced_tutorials/random_brightness_profile.xga
.coverage
.pytest_cache
xga_output
.ipynb_checkpoints
/docker/heasoft.tar.gz
/docker/sas_20.0.0-Ubuntu20.04.tgz
/docker/testing_out.tar
