/docs/source/notebooks/tutorials/whole_sample.csv
/docs/source/notebooks/advanced_tutorials/random_brightness_profile.xga
.coverage
.pytest_cache
xga_output
.ipynb_checkpoints
.vscode
/xga.egg-info/
*__pycache__*
/docs/build
*noupload*
.DS_Store
/xga/__pycache__
*.pyc
xga/__pycache__/__init__.cpython-39.pyc
